PGMANAGER_HELPER_PORT=7881
PGMANAGER_HELPER_HOST=0.0.0.0
PGMANAGER_HELPER_SSL_DIR=/opt/cloudpanel-pgmanager-helper/ssl
PGMANAGER_HELPER_ALLOWED_ORIGIN=https://YOUR_CLOUDPANEL_HOST:8443
PGMANAGER_HELPER_ALLOWED_CLIENT_IPS=YOUR_PUBLIC_IP
PGMANAGER_HELPER_DATA_DIR=/var/lib/cloudpanel-pgmanager-helper
ADMINER_ROOT=/opt/adminer
PGMANAGER_ADMINER_PHP_HOST=127.0.0.1
PGMANAGER_ADMINER_PHP_PORT=7882
PGMANAGER_PHP_BINARY=php
